section {
    margin-top: 50px;
}

main .comparison {
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: 45% 45%;
}

main .licenses {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;

}

main .clauses {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;

}


main .comparison h5 {
    font-size: 18px;
}

main .question-answers > :nth-child(odd) {
    margin-top: 20px;
    margin-bottom: 5px;
    color: black;
    font-style: italic;
    font-size: 18px;
}

main .question-answers > :nth-child(even) {
}

main .registry-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5%;
    /*grid-template-columns: 30% 30% 30%;*/
    justify-content: space-around;
}

main .value-flows {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.registry-grid p {
    font-size: 16px;
}

.Frontpage h1 {
    border-bottom: grey dashed 2px;
}

.Frontpage  .Projects .container {
   display: flex;
    justify-content: space-between;
}

