a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
}


#root {
    display: flex;
    justify-content: center;
}


.mermaid .node rect {
    fill: white !important;
}

.mermaid .edgeLabel {
    background-color: white !important;
}


footer {
    height: 50px;
}
