.App-nav {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.App-nav .App-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}


.App-nav-logobox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}